<mat-toolbar>
  <a routerLink="/" class="home-btn">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <span class="logo">Reddis</span>
    </button>
  </a>

  <span class="example-spacer"></span>
    <a routerLink="/add-post">
      <button mat-raised-button color="primary">Add Post</button>
    </a>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <span>Van Dang</span>
    </button>
</mat-toolbar>
