<div class="form">
  <h1>Add a new Post</h1>
  <div class="form-item">
    <h2>Title</h2>
    <mat-form-field appearance="outline" class="form-input">
      <mat-label>Fill form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div>
  <div class="form-item">
    <h2>Details</h2>
    <mat-form-field appearance="outline" class="form-input">
      <mat-label>Fill form field</mat-label>
      <textarea matInput placeholder="Placeholder"></textarea>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div>
  <button mat-raised-button color="warn">Add Post</button>
</div>
