.search-area {
  display: flex;
}
label {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
input {
  padding: 0.5rem;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  display: block;
}

input:focus {
  outline: #336699 auto 1px;
}
button {
  cursor: pointer;
}

.posts {
  padding: 28px;
  .post-item {
    .example-card {
      max-width: 800px;
      .example-icon {
        margin-right: 20px;
      }
      .title {
        font-family: "Dancing Script", cursive;
        // font-weight: bold;
        font-size: 28px;
      }
      .author {
        color: #f44336;
      }
    }
  }
}
